#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.content-container {
  font-family: Arial, sans-serif;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

.idea-list {
  list-style-type: none;
  padding: 30px;
}

.idea-item {
  margin-bottom: 10px;
}

.bullet {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: palevioletred;
  border-radius: 50%;
  margin-right: 10px;
}

.button {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: palevioletred;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: grey;
}

.shimmering-title {
  font-size: 36px;
  font-weight: bold;
  background: linear-gradient(to right, #f9f9f9, palevioletred, #f9f9f9);
  background-size: 200% auto;
  color: transparent;
  text-align: center;
  -webkit-background-clip: text;
  background-clip: text;
  animation: shimmer 2s infinite;
}

@keyframes shimmer {
  0% {
      background-position: -200% center;
  }
  100% {
      background-position: 200% center;
  }
}
